                            .red-text {
                                color: blue;
                            }
                            
                            .yellow-background-text {
                                background-color: yellow;
                            }
                            /*
h1 {
    color: green;
    font-size: 100px;
    font-family: Courier;
    text-align: center;
}

p {
    color: green;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

img {
    border: 10px solid green;
    border-radius: 15px;
    width: 200px;
}

.red-text {
    color: blue;
}



*/